@media only screen and (max-width: 767px) {
  .xs-top-space {
    margin-top: 15px;
  }
  .selected-filters {
    width: 100%!important;
  }
  .contact-menu {
    max-height: 445px;
  }
  .direct-chat-messages {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sm-top-space {
    margin-top: 15px;
  }
  .contact-menu {
    max-height: 800px;
  }
  .direct-chat-messages {
    height: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .md-top-space {
    margin-top: 15px;
  }
  .contact-menu {
    max-height: 800px;
  }
  .direct-chat-messages {
    height: 750px;
  }
}

@media only screen and (min-width: 1200px) {
  .lg-top-space {
    margin-top: 15px;
  }

  .map {
    height: 450px;
  }
  .contact-menu {
    max-height: 800px;
  }
  .direct-chat-messages {
    height: 750px;
  }
}

.swift-table {
   min-height: 300px;
   max-height: 600px;
}
.tab-pane {
  padding-top: 15px;
  padding-bottom: 15px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.map {
  min-height: 250px;
  width: 100%;
}
.selected-filters {
  width: 250px;
  height: 150px;
  overflow-y: scroll;
}
.schedule {
  min-width: 400px;
  min-height: 400px;
  overflow: scroll;
}
.control-sidebar-bg, .control-sidebar {
  width: 310px!important;
  right: -310px!important;
}
.control-sidebar-open {
  right: 0px!important;
}
.contact-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.contact-block {
  height: 50px;
  margin-bottom: 10px;
  padding-top: 5px;
}
.contact-block:hover {
  background: rgba(56, 63, 66, 0.52);
}
.contact-block > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #777777;
  font-size: 15px;
  position: relative;
}
.contact-block > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.contact-block > a > h4 > small {
  float: right;
}
.received {
  color: #4fc3f7;
}
.img-contact {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.contacts-search{
  padding-bottom: 15px;
}
.print_area {
  display: none;
}
.editable {
  cursor:text;
}
.ui-autocomplete {
  z-index:2147483647;
}
.overlay {
  width: 100%;
  height:100%;
  position:absolute;
  z-index: 10000;
  background: white;
}


// Loading Page CSS.
@keyframes lds-square {
  0%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  20% {
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.1, 0, 1, 0.9);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-square {
  0%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  20% {
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.1, 0, 1, 0.9);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.lds-square {
  position: relative;
  margin: auto;
}
.lds-square div {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-animation: lds-square 1s infinite;
  animation: lds-square 1s infinite;
}
.lds-square div:nth-child(1) {
  top: 10px;
  left: 10px;
  background: #93dbe9;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-square div:nth-child(2) {
  top: 70px;
  left: 10px;
  background: #689cc5;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-square div:nth-child(3) {
  top: 130px;
  left: 10px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(4) {
  top: 10px;
  left: 70px;
  background: #689cc5;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-square div:nth-child(5) {
  top: 70px;
  left: 70px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(6) {
  top: 130px;
  left: 70px;
  background: #3b4368;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-square div:nth-child(7) {
  top: 10px;
  left: 130px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(8) {
  top: 70px;
  left: 130px;
  background: #3b4368;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-square div:nth-child(9) {
  top: 130px;
  left: 130px;
  background: #191d3a;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-square {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.ng-scope {
  width: 50%;
  margin: 0 auto;
  top: 25%;
  position: relative;
}
