@page {
    size: 21cm 28.7cm;
    margin: 0mm 0mm 0mm 0mm; /* change the margins as you want them to be. */
}

@media print {
  .wrapper, .main-footer {
    display: none!important;
  }
  .print_area {
    display: block!important;
  }
  td, th {
    border: 1px black solid;
    padding: 3px;
    text-align: center;
  }
  th {
    font-weight: bolder;
    font-size: 16px;
  }
  .printable-document, .printable-header,
  .printable-body {
    width: 100vw;
    height: 100vw;
  }

  .printable-header {
    margin-bottom: 0.5vh;
  }

  /* Ledger CSS */
  .ledger {
    width: 17cm;
    margin: auto;
  }
  .ledger > td, .ledger > th {
    min-width: 100px;
  }
  .ledger-report {
    width: 100%;
  }
  .ledger-account, .ledger-date-range {
    width: 45%;
    float: left;
  }

  /* Staff List CSS */
  .staff-list {
    width: 19cm;
    margin: auto;
  }
  .staff-list > td, .staff-list > th {
    min-width: 100px;
  }
  .staff-list-report {
    width: 100%;
  }
  .staff-list-branch, .staff-list-date {
    width: 45%;
    float: left;
  }

  /* Cheque CSS */
  .cheque-date {
    position: absolute;
    left: 50vw;
    width: 50vw;
    top: 7vw;
  }
  .cheque-place {
    float: left;
    padding-left: 9vw;
    width: 23vw;
  }
  .cheque-day {
    float: left;
    padding-left: 2vw;
    width: 7vw;
  }
  .cheque-month {
    float: left;
    padding-left: 2vw;
    width: 8vw;
  }
  .cheque-year {
    float: left;
    padding-left: 2vw;
    width: 9vw;
  }
  .cheque-pay-to {
    position: absolute;
    top: 13vw;
    left: 12vw;
    width: 85vw;
  }
  .pay-to {
    width: 57vw;
    float: left;
  }
  .pay-amount {
    padding-left: 6vw;
    width: 22vw;
    float: left;
  }

  .cheque-sum {
    position: absolute;
    left: 12vw;
    top: 17vw;
    width: 85vw;
  }

  .cheque-concept {
    position: absolute;
    top: 45vw;
    left: 11vw;
    width: 85vw;
  }
  /** A4 Sheet Margin **/
  .a4-margin {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .box-header {
    text-align: center;
  }

}
